@import '~assets/styles/overrides.scss';
@import '~bulma/sass/utilities/mixins.sass';

.navbar {

  box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.15);
  font-family: Moon, "Helvetica Neue", Arial, serif;

  transition: background-color .15s ease;

  &-item {
    transition: all .35s ease;
  }

  .bandname {
    font-size: 18px;
  }

  @include tablet {
    .bandname {
      font-size: 14px;
    }
  }

  &.is-on-landing {
    box-shadow: unset;

    .bandname {
      font-size: 18px;
    }

    @include tablet {
      background-color: transparent;
      .navbar-item {
        color: #ffffffb3;
        background-color: transparent;

        &.is-active, &:hover {
          color: $white;
        }
      }
    }
  }
}
