@use "./fonts";
@use "./overrides";

/* Import the rest of Bulma */
@forward "bulma/sass/base";
@forward "bulma/sass/elements/image";
@forward "bulma/sass/elements/button";
@forward "bulma/sass/grid";
@forward "bulma/sass/helpers";
@forward "bulma/sass/layout/container";
@forward "bulma/sass/layout/section";
@forward "bulma/sass/form";

@use "bulma/sass/utilities/initial-variables" as bulmaVars;
// Import the themes so that all CSS variables have a value
@forward "bulma/sass/themes";

html {
    scroll-behavior: smooth;
}

// Custom Styles start here
.is-transparent {
    background-color: transparent;
}

.is-opaque-0 {
    opacity: 0;
}

hr {
    height: 0;
    box-sizing: content-box;
    margin: 20px auto;
    border: 3px #daa520;
    border-top-style: solid;
    max-width: 50px;
}

.has-text-centered {
    text-align: center;
}

.has-text-white {
    color: bulmaVars.$white;
}
