/* Import Bulma Utilities */

$tablet-bp: 768px;
// Add my gold and its invert
$gold: #daa520;
$gold-invert: white;
@use "bulma/sass/utilities" as bulmaUtils with (
    $family-primary: '"Hero", "Helvetica Neue", "Arial", sans-serif',
    // Colours
    $primary: #d0eeed,
    //$secondary: #d0e0ee,
    // Breakpoints
    $tablet: $tablet-bp,
    // Add Moon font
    $text: #333,
    $custom-colors: (
        "gold": (
            $gold,
            $gold-invert
        )
    ),
    $link: $gold
);

@use "bulma/sass/components/navbar" with (
    //$navbar-item-hover-color: $gold,
    //$navbar-item-hover-background-color: transparent,
    $navbar-breakpoint: $tablet-bp
);

// Title
@use "bulma/sass/elements/title" with (
    $title-weight: 500,
    $title-family: '"Moon", "Helvetica Neue", "Arial", sans-serif',
    $subtitle-family: '"Moon", "Helvetica Neue", "Arial", sans-serif'
);

.navbar-item:hover {
    --bulma-navbar-item-color: #{$gold};
}
