/* Import Bulma Utilities */

@import '~bulma/sass/utilities/all';

/* Variable changes go here */
// Colours
$primary: #d0eeed;
$secondary: #d0e0ee;


// Add my gold and its invert
$gold: #daa520;
$gold-invert: findColorInvert($gold);

// Breakpoints
$tablet: 768px;

// Add Moon font
$family-primary: Hero, "Helvetica Neue", "Arial", sans-serif;
$text: #333;

// Navbar
$navbar-item-hover-color: $gold;
$navbar-item-hover-background-color: transparent;
$navbar-breakpoint: $tablet;

// Title
$title-weight: 500;
$title-family: Moon, "Helvetica Neue", "Arial", sans-serif;
$subtitle-family: $title-family;

// Add new color variables to the color map.
@import "~bulma/sass/utilities/derived-variables";
$addColors: (
        "gold":($gold, $gold-invert)
);

$colors: map-merge($colors, $addColors);
